In [1]:
1+1

2

In [3]:
8 * True

8

In [4]:
5//3

1

test

test 2

In [5]:
7 %3

1

In [6]:
not True

False

In [7]:
a = [1,2,3,4]

In [8]:
b = a

In [9]:
b

[1, 2, 3, 4]

In [10]:
b is a

True

In [11]:
b == a

True

In [12]:
b = [1,2,3,4]

In [13]:
b is a

False

In [14]:
b == a

True

In [15]:
"This is a string"

'This is a string'

In [16]:
"Hello " + " world!"

'Hello  world!'

In [28]:
"this string is a fine string"[-6:]

'string'

test

In [29]:
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")

'Jack be nimble, Jack be quick, Jack jump over the candle stick'

In [30]:
"{cat} wants to eat {food}".format(cat = "Garfield", food = "Jon")

'Garfield wants to eat Jon'

In [35]:
"yahoo" if 3 < 2 else 2

2

In [36]:
li = []

In [37]:
other_li = [4,5,6]

In [38]:
other_li

[4, 5, 6]

In [39]:
li.append(1)

In [40]:
li

[1]

In [43]:
li.append(li)

In [44]:
li

[1, [...]]

In [45]:
li[1]

[1, [...]]

In [47]:
li.describe

AttributeError: 'list' object has no attribute 'describe'

In [49]:
li.insert()

NameError: name 'insert' is not defined

In [50]:
some_var = 5

In [60]:
if some_var <10:
    print("some_var is greater than 10")

some_var is greater than 10

In [67]:
for i in range(4,8,2):
    print(i)

4
6

In [65]:
range(4,8)

range(4, 8)

In [68]:
list = ["dog", "cat", "mouse"]

In [69]:
for i, value in enumerate(list):
    print(i, value)

0 dog
1 cat
2 mouse

In [71]:
x = 0

In [72]:
while x < 99:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [73]:
try:
    raise IndexError("This is an index error")
except IndexError as e:
    pass
except(TypeError,NameError):
    pass
else:
    print("All Good")
finally:
    print("wtf is finally")

wtf is finally

In [74]:
def set_x(num):
    # Local var x not the same as global variable x
    x = num    # => 43
    print(x)   # => 43

def set_global_x(num):
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

set_x(43)
set_global_x(6)

43
99
6

In [75]:
x

6

In [76]:
import pandas as pd

In [82]:
my_dict = {"first_column":range(1,5), "second_column":range(2,6)}

In [83]:
my_dict

{'first_column': range(1, 5), 'second_column': range(2, 6)}

In [85]:
my_pd_df = pd.DataFrame(my_dict)

In [86]:
my_pd_df

   first_column  second_column
0             1              2
1             2              3
2             3              4
3             4              5