# DATA 512 - Human-Centered Data Science
## Assignment 2
Will Wright 
Q4 2019

#### Purpose and Methodology
TODO

#### Load Modules and Set Parameters

In [58]:
import pandas as pd
import requests
import json

ModuleNotFoundError: No module named 'requests'

In [16]:
pd.options.display.max_rows = 500

#### Get Data

In [6]:
page_data = pd.read_csv("../data_raw/page_data.csv")
pop_data = pd.read_csv("../data_raw/WPDS_2018_data.csv")

In [7]:
page_data.head()

                                 page   country     rev_id
0  Template:ZambiaProvincialMinisters    Zambia  235107991
1                      Bir I of Kanem      Chad  355319463
2   Template:Zimbabwe-politician-stub  Zimbabwe  391862046
3     Template:Uganda-politician-stub    Uganda  391862070
4    Template:Namibia-politician-stub   Namibia  391862409

In [8]:
pop_data.head()

  Geography Population mid-2018 (millions)
0    AFRICA                          1,284
1   Algeria                           42.7
2     Egypt                             97
3     Libya                            6.5
4   Morocco                           35.2

#### Clean Data
As can be seen above, the page_data table has rows within the 'page' column that start with "Template." These are not wikipedia articles and will need to be removed.

In [10]:
# Use regex to remove rows that start with "Template"
page_data = page_data[~page_data.page.str.contains("^Template:.*")]
page_data.head()

,page,country,rev_id
1,Bir I of Kanem,Chad,355319463
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
12,Yos Por,Cambodia,393822005
23,Julius Gregr,Czech Republic,395521877
24,Edvard Gregr,Czech Republic,395526568

Additionally, the pop_data table has some rows for 'Geography' in all-caps to indicate that they are the population for the entire region.  We'll want to retain these values, but put them in a different table.  After looking through the data, I verified that only the region-level rows were in all caps (no cases of 'USA' or similar) and it's safe to use all-caps as a signal to split the table.

In [50]:
pop_region_data = pop_data[pop_data.Geography.str.contains("^[^a-z]*$")] # retain only uppercase strings
pop_country_data = pop_data[~pop_data.Geography.str.contains("^[^a-z]*$")] # retain only lowercase strings

In [51]:
pop_region_data

                           Geography Population mid-2018 (millions)
0                             AFRICA                          1,284
56                  NORTHERN AMERICA                            365
59   LATIN AMERICA AND THE CARIBBEAN                            649
95                              ASIA                          4,536
144                           EUROPE                            746
189                          OCEANIA                             41

In [54]:
pop_country_data.head()

  Geography Population mid-2018 (millions)
1   Algeria                           42.7
2     Egypt                             97
3     Libya                            6.5
4   Morocco                           35.2
5     Sudan                           41.7

#### Generate Article Scores Using ORES

In [ ]:
ores_session = api.Session("https://ores.wikimedia.org", "Class project <wtwright@uw.edu>")
#where 1234, 5678, 91011 below are rev_ids...
results = ores_session.score("enwiki", ["articlequality"], [1234, 5678, 91011])
for score in results:
    print(score)